<f:layout name="Default"/>
<f:section name="main">
	<div id="{containerId}" class="map" style="width:{settings.width}px; height: {settings.height}px;">
	</div>
	<f:format.raw>{code}</f:format.raw>
</f:section>